#!/bin/bash

export SVC_SHORT="template"
export SVC_NAME="${SVC_SHORT}-svc"
export SVC_DESCRIPTION="short description of: ${SVC_NAME}"
export SVC_HOST_NAME=${SVC_NAME}.localhost
export SVC_PORT=3000
export DB_HOST="${SVC_NAME}-db"
export DB_NAME="${SVC_NAME}_db"
export DB_USER="${SVC_NAME}_db_user"
export DB_PASSWORD="SuperSafePassword1!"
export DB_EXPOSED_PORT=10658
export SWAGGER_ENDPOINT=https://${SVC_NAME}.localhost/api/v1/${SVC_SHORT}/describe
export RUBY_IMAGE_VERSION=2.7.0-slim-buster
