/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/node_modules/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.rubocop-https---raw-githubusercontent-com-talentplatforms-shared-rubocop-master--talentplatforms-rubocop-yml
*.gem
